.ps-container {
    padding: 70px 25px;
    background-color: rgb(255, 255, 255);
}

.ps-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.loading {
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.error {
    letter-spacing: 1.5px;
    text-transform: uppercase;
}